body {
    padding-top: 60px;
    padding-bottom: 40px;
}

div.container a.navbar-brand {
    background: url("../images/LogoLD.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 12px 20px 10px 50px;
}

ul.nav-sub-pills a {
	padding: 0px 0px 0px 18px;
	border-radius:5px;
}

ul.nav-sub-pills {
	margin-bottom:0px;
	display: none;
}

li.open ul.nav-sub-pills{
	display: block;
}

.phoca-flag {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: inset 0px 0px 0px 2px #fff;
	box-shadow: inset 0px 0px 0px 2px #fff;
	height: 21px;
	width: 28px
}